<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffEngine" version="10.0.0" targetFramework="net48" />
  <package id="EmptyFiles" version="2.8.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net48" />
  <package id="Shouldly" version="4.1.0" targetFramework="net48" />
  <package id="System.Management" version="5.0.0" targetFramework="net48" />
</packages>